@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Dancing+Script:wght@700&family=Lexend+Deca&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@100&family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Dancing+Script:wght@700&family=Lexend+Deca&family=Open+Sans&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@100&family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Dancing+Script:wght@700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Public+Sans:wght@100&family=Red+Hat+Display:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}


/* SECTION 1 STYLING */
.sec-1 {
    background-image: url(./Images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.img-1 {
    height: 30px;
}

.btn-1 {
    width: 150px;
    height: 30px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: white;
    background-color: white;
    box-shadow: 0 0 10px rgb(193, 189, 189);
    font-family: 'Open Sans', sans-serif;
}

.sub-sec {
    display: flex;
    justify-content: center;
}

.sub-sec-container {
    margin: 100px 50px 0 0;
}

.sub-sec-img img {
    height: 370px;
    width: 600px;
    padding: 0 0 50px 0;
}

.header-text {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    font-size: 2rem;
}

.header-body {
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0 20px 0;
    font-size: 0.8rem;
    color: hsl(208, 11%, 55%);
}

.btn-2 {
    width: 200px;
    height: 35px;
    background-color: hsl(322, 100%, 66%) ;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(193, 189, 189);
    font-family: 'Open Sans', sans-serif;
}


/* SECTION 2 STYLING */

.sec-2{
    margin: 150px;
    font-family: 'Open Sans', sans-serif;
}

.card {
    display: flex;
    margin-top: 50px ;
    justify-content: center;
    justify-content: space-between;
    padding: 30px 150px;
    box-shadow: 0 0 10px rgb(193, 189, 189);
    border-radius: 10px;
}

.cd-img {
    height: 200px;
    width: 250px;
}

.card-txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: hsl(208, 11%, 55%);
}

.card-1-text,
.card-3-text {
    margin: 60px 20px;
}

.card-2-text {
    margin: 60px 0 60px 60px;
}

.card-header {
    margin: 0 0 20px 0;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}

/* SECTION 3 STYLING */

.sec-3{
    display: flex;
    justify-content: center;
    text-align: center;
}

.action-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 3px rgb(193, 189, 189);
    height: 200px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-bottom: -70px;
}

.action-txt {
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

/* FOOTER STYLING */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 130px 200px 100px 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
}

.footer-logo{
    margin-bottom: 20px;
    margin-left: 25px;
}

.row-1-col-1,
.row-2-col-1,
.row-3-col-1{
    display: flex;
    padding: 20px;
}

.ft-img-2,
.ft-img-3 {
    margin: 0 10px;
}

.ft-img-1{
    margin: 5px 10px 10px 10px;
    height: 20px;
    width: 20px;
}

.row-1-col-1-txt,
.row-2-col-1-txt,
.row-3-col-1-txt {
    margin: 0 20px;
}

.ft-email {
    margin-left: 15px;
}

.footer-container-2,
.footer-container-3,
.footer-icons {
    margin: 80px 0;
}

.ft-txt-2,
.ft-txt-5 {
    margin: 20px 0;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px 100px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
}

.footer-icons {
    display: flex;
}

.fa {
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

.fa-twitter {
    margin: 0 10px;
    color: white;
}

button:hover {
    zoom: 120%;
    transition: .90s;
}

@media (max-width: 475px) {

    body {
        width: 100%;
    }

    /* SECTION 1 STYLING */
    .sec-1 {
        background-image: url(./Images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: hsl(193, 100%, 96%);
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        width: 100%;
    } 

    .img-1 {
        height: 20px;
        width: 125px;
        padding-left: 10px;
    }

    .sub-sec-img img{
        height: 40vh;
        width: 90vw;
    }

    .sub-sec-img {
        display: flex;
        justify-content: center;
    }

    .sub-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .btn-1 {
        width: 100px;
        height: 30px;
        margin-right: 10px;
        font-weight: bold;
    }

    .bbtn {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;

    }

    .btn-2{
        width: 250px;
        height: 45px;
        font-weight: 700;
    }

    .sub-sec-container {
        margin: 50px 5px 0 5px;
    }

    .header-text {
        font-size: 1.3rem;
        text-align: center;
    }

    .header-body {
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
        font-weight: 300;
        padding: 5px 40px 5px 40px;
        color: hsl(192, 100%, 9%);
    }

    .sec-2{
        margin: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .card {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px ;
        justify-content: center;
        padding: 15px 0;
        box-shadow: 0 0 10px rgb(193, 189, 189);
        border-radius: 10px;
        width: 90vw;
    }

    .card-2 {
        display: flex;
        flex-direction: column;
    }

    .cd-img {
        height: 200px;
        width: 250px;
    }
    
    .card-txt {
        font-size: 0.7rem;
        color: hsl(208, 11%, 55%);
        text-align: center;
        margin-bottom: 15px;
        text-align: center;
        
    }

    .card-1-img,
    .card-2-img,
    .card-3-img {    
        display: flex;
        justify-content: center;
    }

    .card-2-text,
    .card-1-text,
    .card-3-text {
        margin: 0px 0;
        padding: 0 0;   
    }

   .card-header{
       margin-top: 20px;
       text-align: center;
    }

    /* SECTION 3 STYLING */

    .sec-3{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .action-txt {
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
    }

    .sec-3{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .action-card-content {
        height: 150px;
        width: 300px;
        width: 90vw;
        margin-top: 100px;
    }
        
    .action-txt {
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
        
    
    /* FOOTER STYLING */

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 130px 20px 20px 20px;
        font-size: 1rem;
    }

    footer {
        background-color: hsl(192, 100%, 9%);
        color: white;
    }


    .footer-logo{
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .row-1-col-1,
    .row-2-col-1,
    .row-3-col-1{
        display: flex;
        padding: 10px 0;
    }
    .footer-container-1{
        padding: 0;
        margin-bottom: 50px;
    }

    .ft-img-2,
    .ft-img-3 {
        margin: 0 10px;
    }

    .ft-img-1{
        margin: 5px 10px 10px 10px;
        height: 20px;
        width: 20px;
    }

    .row-1-col-1-txt,
    .row-2-col-1-txt,
    .row-3-col-1-txt {
        margin: 0 20px;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .ft-email {
        margin-left: 15px;
    }

    .footer-container-2,
    .footer-container-3,
    .footer-icons {
        margin: 0;
        font-size: 1rem;
    }

    .ft-txt-2,
    .ft-txt-3,
    .ft-txt-5,
    .ft-txt-6 {
        margin: 30px 0;
    }

    .copyright {
        font-size: 0.8rem;
        justify-content: center;
        margin-left: 30px;
        font-weight: lighter;
        margin-top: 0;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .fa {
        height: 20px;
        width: 20px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px;
    }
    
    .fa-twitter {
        margin: 0 10px;
        color: white;
    }
    
    button:hover {
        zoom: 120%;
        transition: .90s;
    }
}
